<h1>About Me</h1>
<p>This is the about me page.  I'm adding a paragraph or two so that I have some stuff to look at when I style it with css.  I like css a lot, it's my favorite actually, because it's the one language I know that I usually know better than everyone else in the room.  I think that's because css can be so stupid sometimes that people give up on it.  It's knowing that I can do css the way that I can that makes me confident that I can learn any language</p>

<p>OK so two paragraphs then.  This is a rails site.  Once I finish this course.  I'm going to take it again.  I like learning rails, but I feel I have a long way to go.</p>
